* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    background-color: #f4f4f4;
}

.header {
    background-color: #111;
    color: #fff;
    padding: 10px;
    height: 10vh;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.grid {
    display: grid;
    grid-template: repeat(8, 1fr) / repeat(6, 1fr);
    grid-gap: 10px;
    padding: 10px;
    height: 90vh;
}

.div1 {
    grid-area: 1 / 1 / 4 / 4;
    background-color: #1f1f1f;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.div2 {
    grid-area: 1 / 4 / 4 / 7;
    background-color: #2f2f2f;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.div3 {
    grid-area: 4 / 1 / 8 / 3;
    background-color: #3f3f3f;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.div4 {
    grid-area: 4 / 3 / 8 / 7;
    background-color: #4f4f4f;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.div5 {
    grid-area: 8 / 1 / 9 / 7;
    background-color: #5f5f5f;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
